In [34]:
import os
import urllib.request
import pandas as pd

In [32]:
links = [
    {"url": "https://api.openml.org/data/download/22103261/dataset", "name":"wine"},
    {"url": "https://api.openml.org/data/download/22103262/dataset", "name": "ailerons"},
    {"url": "https://api.openml.org/data/download/22103263/dataset", "name": "houses"},
    {"url": "https://api.openml.org/data/download/22103264/dataset", "name": "house_16H"},
    {"url": "https://api.openml.org/data/download/22103266/dataset", "name": "Brazilian_houses"},
    {"url": "https://api.openml.org/data/download/22103267/dataset", "name": "Bike_Sharing_Demand"},
    {"url": "https://api.openml.org/data/download/22103268/dataset", "name": "nyc-taxi-green-dec-2016"},
    {"url": "https://api.openml.org/data/download/22103269/dataset", "name": "house_sales"},
    {"url": "https://api.openml.org/data/download/22103270/dataset", "name": "sulfur"},
    {"url": "https://api.openml.org/data/download/22103271/dataset", "name": "medical_charges"},
    {"url": "https://api.openml.org/data/download/22103272/dataset", "name": "MiamiHousing2016"},
    {"url": "https://api.openml.org/data/download/22103273/dataset", "name": "superconduct"},
    {"url": "", "name": "cpu"},
    {"url": "", "name": "diamond"},
    {"url": "", "name": "isolet"},
    {"url": "", "name": "pol"},
    # {"url": "https://old.openml.org/data/download/22103113/dataset", "name": "california"},
    # {"url": "https://old.openml.org/data/download/22103114/dataset", "name": "fifa"},
    # {"url": "https://old.openml.org/data/download/22103115/dataset", "name": "year"},
]

In [ ]:
for link in links:
    urllib.request.urlretrieve(link["url"], "dataset")
    with open("./dataset", "r+") as f:
        reached = 0
        for line in f:
            if reached:
                num_fs = line.count(",")
                f.seek(0)
                s = ""
                for i in range(num_fs):
                    s += f"f{i},"
                s += "target\n"
                print(s)
                f.write(s)
                break
            else:
                if line == "@DATA\n":
                    reached = 1


    os.rename("./dataset", f"./datasets/{link['name']}")

In [67]:
# find maxes
knnt_results = pd.read_csv("results/knnt.csv")
best = knnt_results.sort_values('mean', ascending=False).drop_duplicates(['dataset', 'scaling', 'order']).sort_values('dataset', ascending=True)
best

,dataset,k,ks,order,scaling,metric,mean,std
955,Bike_Sharing_Demand,4,94,2,no_scaling,r2,0.593520,0.019421
949,Bike_Sharing_Demand,4,93,1,no_scaling,r2,0.593522,0.018600
926,Bike_Sharing_Demand,4,76,2,learned,r2,0.659263,0.027445
948,Bike_Sharing_Demand,4,93,1,learned,r2,0.660100,0.029030
1,Brazilian_houses,3,17,1,no_scaling,r2,0.680268,0.536364
12,Brazilian_houses,3,24,1,learned,r2,0.815942,0.354127
6,Brazilian_houses,3,22,2,learned,r2,0.766485,0.337020
3,Brazilian_houses,3,17,2,no_scaling,r2,0.680320,0.536220
1636,MiamiHousing2016,4,152,2,learned,r2,0.922716,0.005586
1622,MiamiHousing2016,4,141,1,learned,r2,0.922694,0.005534
1615,MiamiHousing2016,4,116,1,no_scaling,r2,0.914729,0.004679
1617,MiamiHousing2016,4,116,2,no_scaling,r2,0.914642,0.004797
477,ailerons,4,591,1,no_scaling,r2,0.830666,0.009889
478,ailerons,4,591,2,learned,r2,0.838512,0.009593
1441,ailerons,10,591,1,learned,r2,0.843102,0.010680
479,ailerons,4,591,2,no_scaling,r2,0.829858,0.010255
792,house_16H,4,248,1,learned,r2,0.460030,0.070626
798,house_16H,4,261,2,learned,r2,0.454808,0.069907
795,house_16H,4,248,2,no_scaling,r2,0.446846,0.085939
793,house_16H,4,248,1,no_scaling,r2,0.446692,0.085918
1108,house_sales,4,248,1,learned,r2,0.875298,0.006218
1098,house_sales,4,229,2,learned,r2,0.875079,0.007748
1099,house_sales,4,229,2,no_scaling,r2,0.820036,0.008350
1097,house_sales,4,229,1,no_scaling,r2,0.820036,0.008350
639,houses,4,130,2,no_scaling,r2,0.776138,0.016393
632,houses,4,123,1,learned,r2,0.802373,0.017005
626,houses,4,113,2,learned,r2,0.801160,0.018497
637,houses,4,130,1,no_scaling,r2,0.776138,0.016393
1486,medical_charges,3,29,1,learned,r2,0.971809,0.000810
1497,medical_charges,3,34,2,no_scaling,r2,0.971402,0.000854
1495,medical_charges,3,34,1,no_scaling,r2,0.971402,0.000854
1496,medical_charges,3,34,2,learned,r2,0.971713,0.001143
1346,pol,3,358,2,learned,r2,0.878252,0.016634
1335,pol,3,308,2,no_scaling,r2,0.883370,0.012875
1340,pol,3,352,1,learned,r2,0.884515,0.015162
1333,pol,3,308,1,no_scaling,r2,0.887269,0.012244
1146,sulfur,3,53,2,learned,r2,0.884518,0.055186
1140,sulfur,3,44,1,learned,r2,0.885469,0.050813
1143,sulfur,3,44,2,no_scaling,r2,0.888805,0.049685
1141,sulfur,3,44,1,no_scaling,r2,0.888805,0.049685
300,wine,4,173,1,learned,r2,0.398483,0.030361
317,wine,4,186,1,no_scaling,r2,0.398402,0.031904
319,wine,4,186,2,no_scaling,r2,0.398402,0.031904
298,wine,4,170,2,learned,r2,0.398210,0.034986

In [68]:
best.sort_values('dataset').to_csv("results/best_knnt.csv")

In [69]:
pd.read_csv("results/best_knnt.csv")

,Unnamed: 0,dataset,k,ks,order,scaling,metric,mean,std
0,955,Bike_Sharing_Demand,4,94,2,no_scaling,r2,0.593520,0.019421
1,949,Bike_Sharing_Demand,4,93,1,no_scaling,r2,0.593522,0.018600
2,926,Bike_Sharing_Demand,4,76,2,learned,r2,0.659263,0.027445
3,948,Bike_Sharing_Demand,4,93,1,learned,r2,0.660100,0.029030
4,1,Brazilian_houses,3,17,1,no_scaling,r2,0.680268,0.536364
5,12,Brazilian_houses,3,24,1,learned,r2,0.815942,0.354127
6,6,Brazilian_houses,3,22,2,learned,r2,0.766485,0.337020
7,3,Brazilian_houses,3,17,2,no_scaling,r2,0.680320,0.536220
8,1617,MiamiHousing2016,4,116,2,no_scaling,r2,0.914642,0.004797
9,1615,MiamiHousing2016,4,116,1,no_scaling,r2,0.914729,0.004679
10,1636,MiamiHousing2016,4,152,2,learned,r2,0.922716,0.005586
11,1622,MiamiHousing2016,4,141,1,learned,r2,0.922694,0.005534
12,477,ailerons,4,591,1,no_scaling,r2,0.830666,0.009889
13,478,ailerons,4,591,2,learned,r2,0.838512,0.009593
14,1441,ailerons,10,591,1,learned,r2,0.843102,0.010680
15,479,ailerons,4,591,2,no_scaling,r2,0.829858,0.010255
16,792,house_16H,4,248,1,learned,r2,0.460030,0.070626
17,798,house_16H,4,261,2,learned,r2,0.454808,0.069907
18,795,house_16H,4,248,2,no_scaling,r2,0.446846,0.085939
19,793,house_16H,4,248,1,no_scaling,r2,0.446692,0.085918
20,1097,house_sales,4,229,1,no_scaling,r2,0.820036,0.008350
21,1099,house_sales,4,229,2,no_scaling,r2,0.820036,0.008350
22,1098,house_sales,4,229,2,learned,r2,0.875079,0.007748
23,1108,house_sales,4,248,1,learned,r2,0.875298,0.006218
24,639,houses,4,130,2,no_scaling,r2,0.776138,0.016393
25,632,houses,4,123,1,learned,r2,0.802373,0.017005
26,626,houses,4,113,2,learned,r2,0.801160,0.018497
27,637,houses,4,130,1,no_scaling,r2,0.776138,0.016393
28,1486,medical_charges,3,29,1,learned,r2,0.971809,0.000810
29,1497,medical_charges,3,34,2,no_scaling,r2,0.971402,0.000854
30,1495,medical_charges,3,34,1,no_scaling,r2,0.971402,0.000854
31,1496,medical_charges,3,34,2,learned,r2,0.971713,0.001143
32,1333,pol,3,308,1,no_scaling,r2,0.887269,0.012244
33,1340,pol,3,352,1,learned,r2,0.884515,0.015162
34,1335,pol,3,308,2,no_scaling,r2,0.883370,0.012875
35,1346,pol,3,358,2,learned,r2,0.878252,0.016634
36,1146,sulfur,3,53,2,learned,r2,0.884518,0.055186
37,1140,sulfur,3,44,1,learned,r2,0.885469,0.050813
38,1143,sulfur,3,44,2,no_scaling,r2,0.888805,0.049685
39,1141,sulfur,3,44,1,no_scaling,r2,0.888805,0.049685
40,300,wine,4,173,1,learned,r2,0.398483,0.030361
41,317,wine,4,186,1,no_scaling,r2,0.398402,0.031904
42,319,wine,4,186,2,no_scaling,r2,0.398402,0.031904
43,298,wine,4,170,2,learned,r2,0.398210,0.034986

In [62]:
pd.read_csv("results/best_knn.csv")

,Unnamed: 0,dataset,k,weights,scaling,metric,mean,std
0,170,Bike_Sharing_Demand,7,distance,0,r2,0.612698,0.016982
1,175,Bike_Sharing_Demand,10,distance,1,r2,0.665481,0.019283
2,3,Brazilian_houses,2,distance,1,r2,0.975452,0.007381
3,6,Brazilian_houses,5,distance,0,r2,0.971976,0.006473
4,334,MiamiHousing2016,7,distance,1,r2,0.899651,0.012005
5,333,MiamiHousing2016,7,distance,0,r2,0.884163,0.007497
6,78,ailerons,10,distance,0,r2,0.743843,0.013467
7,79,ailerons,10,distance,1,r2,0.774966,0.022155
8,389,cpu,2,distance,0,r2,0.936132,0.028991
9,394,cpu,5,distance,1,r2,0.973226,0.010081
10,451,diamond,25,uniform,0,r2,0.941430,0.001745
11,452,diamond,25,uniform,1,r2,0.941954,0.001674
12,143,house_16H,10,distance,1,r2,0.454956,0.058927
13,142,house_16H,10,distance,0,r2,0.457288,0.068413
14,243,house_sales,10,distance,1,r2,0.859526,0.009807
15,246,house_sales,25,distance,0,r2,0.812903,0.010611
16,111,houses,10,distance,1,r2,0.785102,0.012654
17,106,houses,7,distance,0,r2,0.748106,0.009306
18,321,medical_charges,20,uniform,1,r2,0.977547,0.001514
19,320,medical_charges,20,uniform,0,r2,0.977772,0.000667
20,227,nyc-taxi-green-dec-2016,25,distance,1,r2,0.538301,0.031391
21,226,nyc-taxi-green-dec-2016,25,distance,0,r2,0.417625,0.006798
22,461,pol,5,distance,0,r2,0.936670,0.005847
23,462,pol,5,distance,1,r2,0.893830,0.049692
24,262,sulfur,2,distance,0,r2,0.895245,0.056364
25,263,sulfur,2,distance,1,r2,0.892176,0.054239
26,361,superconduct,5,distance,0,r2,0.910603,0.007584
27,362,superconduct,5,distance,1,r2,0.911077,0.007880
28,50,wine,25,distance,0,r2,0.501543,0.038319
29,51,wine,25,distance,1,r2,0.501177,0.038628