In [2]:
import os
import urllib.request
import pandas as pd

In [32]:
links = [
    {"url": "https://api.openml.org/data/download/22103261/dataset", "name":"wine"},
    {"url": "https://api.openml.org/data/download/22103262/dataset", "name": "ailerons"},
    {"url": "https://api.openml.org/data/download/22103263/dataset", "name": "houses"},
    {"url": "https://api.openml.org/data/download/22103264/dataset", "name": "house_16H"},
    {"url": "https://api.openml.org/data/download/22103266/dataset", "name": "Brazilian_houses"},
    {"url": "https://api.openml.org/data/download/22103267/dataset", "name": "Bike_Sharing_Demand"},
    {"url": "https://api.openml.org/data/download/22103268/dataset", "name": "nyc-taxi-green-dec-2016"},
    {"url": "https://api.openml.org/data/download/22103269/dataset", "name": "house_sales"},
    {"url": "https://api.openml.org/data/download/22103270/dataset", "name": "sulfur"},
    {"url": "https://api.openml.org/data/download/22103271/dataset", "name": "medical_charges"},
    {"url": "https://api.openml.org/data/download/22103272/dataset", "name": "MiamiHousing2016"},
    {"url": "https://api.openml.org/data/download/22103273/dataset", "name": "superconduct"},
    {"url": "", "name": "cpu"},
    {"url": "", "name": "diamond"},
    {"url": "", "name": "isolet"},
    {"url": "", "name": "pol"},
    # {"url": "https://old.openml.org/data/download/22103113/dataset", "name": "california"},
    # {"url": "https://old.openml.org/data/download/22103114/dataset", "name": "fifa"},
    # {"url": "https://old.openml.org/data/download/22103115/dataset", "name": "year"},
]

In [ ]:
for link in links:
    urllib.request.urlretrieve(link["url"], "dataset")
    with open("./dataset", "r+") as f:
        reached = 0
        for line in f:
            if reached:
                num_fs = line.count(",")
                f.seek(0)
                s = ""
                for i in range(num_fs):
                    s += f"f{i},"
                s += "target\n"
                print(s)
                f.write(s)
                break
            else:
                if line == "@DATA\n":
                    reached = 1


    os.rename("./dataset", f"./datasets/{link['name']}")

In [7]:
# find maxes
catboost_results = pd.read_csv("results/catboost.csv")
best = catboost_results.sort_values('mean', ascending=False).drop_duplicates(['dataset','metric']).sort_values('dataset', ascending=True)
best

,dataset,lr,max_depth,n_estimators,metric,mean,std
533,Bike_Sharing_Demand,0.1,3,500,mse,9944.535846541694,403.91618474461126
548,Bike_Sharing_Demand,0.1,10,500,r2,0.7138781166017227,0.012480494416459882
1,Brazilian_houses,0.001,3,50,mse,0.581252719122998,0.01422539360958136
62,Brazilian_houses,0.1,5,1000,r2,0.992643261348159,0.010289379616132325
865,MiamiHousing2016,0.001,3,50,mse,0.30806459157470273,0.01910572050467147
926,MiamiHousing2016,0.1,5,1000,r2,0.9369169244638833,0.00313379769994103
205,ailerons,0.001,5,500,mse,9.258641293648458e-08,5.178730961180984e-09
260,ailerons,0.1,10,500,r2,0.8542340147359961,0.009022161302065502
1121,cpu,0.1,10,50,mse,9.626215296501881,1.8636209627469007
1110,cpu,0.1,3,1000,r2,0.9845097367525254,0.002341858583773886
1361,dataset,lr,max_depth,n_estimators,metric,mean,std
1220,diamond,0.1,10,500,r2,0.947213558977291,0.001825943627161296
1153,diamond,0.001,3,50,mse,0.9412446148994922,0.017740762908014896
446,house_16H,0.1,5,1000,r2,0.5631296979372443,0.06277186066659507
385,house_16H,0.001,3,50,mse,0.7572239683939321,0.1434024384390152
638,house_sales,0.1,5,1000,r2,0.8926303509664336,0.006803944368812058
577,house_sales,0.001,3,50,mse,0.26149677602320404,0.009593880739468028
358,houses,0.1,10,1000,r2,0.8533252755937569,0.010421997547457202
289,houses,0.001,3,50,mse,0.30985320398118943,0.00996373309188148
1353,isolet,0.1,5,1000,r2,0.8334761874335641,0.02463932906904445
1360,isolet,0.1,10,500,mse,9.864698878131083,1.2752671050959714
814,medical_charges,0.01,10,1000,r2,0.9793459847925302,0.0007271991070174676
769,medical_charges,0.001,3,50,mse,0.2945261257863461,0.003997835119678666
1432,pol,0.1,10,1000,r2,0.9466333398077434,0.004935384907861259
1433,pol,0.1,10,1000,mse,92.57912288397355,6.552563742415677
742,sulfur,0.1,10,1000,r2,0.8601685039149899,0.06582659897355665
689,sulfur,0.001,10,50,mse,0.0024837159760466715,0.0008278785928493026
1030,superconduct,0.1,10,1000,r2,0.9274869742479994,0.004790500867086134
1051,superconduct,0.3,10,100,mse,95.85870449609118,6.778694666332604
97,wine,0.001,3,50,mse,0.7456501362564126,0.042714757577544546
166,wine,0.1,10,1000,r2,0.5205104197366754,0.02701709470037659

In [4]:
best.sort_values('dataset').to_csv("results/best_knnt.csv")

In [5]:
pd.read_csv("results/best_knnt.csv")

,Unnamed: 0,dataset,k,ks,order,scaling,metric,mean,std
0,957,Bike_Sharing_Demand,4,94,2,no_scaling,r2,0.593520,0.019421
1,951,Bike_Sharing_Demand,4,93,1,no_scaling,r2,0.593522,0.018600
2,928,Bike_Sharing_Demand,4,76,2,learned,r2,0.659263,0.027445
3,962,Bike_Sharing_Demand,7,93,1,learned,r2,0.666373,0.030597
4,1,Brazilian_houses,3,17,1,no_scaling,r2,0.680268,0.536364
5,3,Brazilian_houses,3,17,2,no_scaling,r2,0.680320,0.536220
6,6,Brazilian_houses,3,22,2,learned,r2,0.766485,0.337020
7,12,Brazilian_houses,3,24,1,learned,r2,0.815942,0.354127
8,1623,MiamiHousing2016,4,116,2,no_scaling,r2,0.914642,0.004797
9,1621,MiamiHousing2016,4,116,1,no_scaling,r2,0.914729,0.004679
10,1642,MiamiHousing2016,4,152,2,learned,r2,0.922716,0.005586
11,1628,MiamiHousing2016,4,141,1,learned,r2,0.922694,0.005534
12,478,ailerons,4,591,2,learned,r2,0.838512,0.009593
13,479,ailerons,4,591,2,no_scaling,r2,0.829858,0.010255
14,477,ailerons,4,591,1,no_scaling,r2,0.830666,0.009889
15,1446,ailerons,10,591,1,learned,r2,0.843102,0.010680
16,1806,cpu,3,300,2,no_scaling,r2,0.930262,0.122126
17,1733,cpu,5,329,2,learned,r2,0.982231,0.003124
18,1731,cpu,5,329,1,learned,r2,0.982219,0.003164
19,1804,cpu,3,300,1,no_scaling,r2,0.929987,0.123051
20,799,house_16H,4,261,2,learned,r2,0.454808,0.069907
21,801,house_16H,10,248,1,learned,r2,0.463888,0.076135
22,794,house_16H,4,248,1,no_scaling,r2,0.446692,0.085918
23,796,house_16H,4,248,2,no_scaling,r2,0.446846,0.085939
24,1102,house_sales,4,229,2,no_scaling,r2,0.820036,0.008350
25,1123,house_sales,10,248,1,learned,r2,0.879767,0.007504
26,1101,house_sales,4,229,2,learned,r2,0.875079,0.007748
27,1100,house_sales,4,229,1,no_scaling,r2,0.820036,0.008350
28,637,houses,4,130,1,no_scaling,r2,0.776138,0.016393
29,626,houses,4,113,2,learned,r2,0.801160,0.018497
30,639,houses,4,130,2,no_scaling,r2,0.776138,0.016393
31,640,houses,10,123,1,learned,r2,0.803351,0.016735
32,1502,medical_charges,3,34,2,no_scaling,r2,0.971402,0.000854
33,1503,medical_charges,20,34,1,learned,r2,0.976996,0.000613
34,1501,medical_charges,3,34,2,learned,r2,0.971713,0.001143
35,1500,medical_charges,3,34,1,no_scaling,r2,0.971402,0.000854
36,1345,pol,3,352,1,learned,r2,0.884515,0.015162
37,1338,pol,3,308,1,no_scaling,r2,0.887269,0.012244
38,1351,pol,3,358,2,learned,r2,0.878252,0.016634
39,1340,pol,3,308,2,no_scaling,r2,0.883370,0.012875
40,1284,sulfur,2,44,1,learned,r2,0.900427,0.038326
41,1145,sulfur,3,44,1,no_scaling,r2,0.888805,0.049685
42,1147,sulfur,3,44,2,no_scaling,r2,0.888805,0.049685
43,1150,sulfur,3,53,2,learned,r2,0.884518,0.055186
44,317,wine,4,186,1,no_scaling,r2,0.398402,0.031904
45,319,wine,4,186,2,no_scaling,r2,0.398402,0.031904
46,300,wine,4,173,1,learned,r2,0.398483,0.030361
47,298,wine,4,170,2,learned,r2,0.398210,0.034986

In [62]:
pd.read_csv("results/best_knn.csv")

,Unnamed: 0,dataset,k,weights,scaling,metric,mean,std
0,170,Bike_Sharing_Demand,7,distance,0,r2,0.612698,0.016982
1,175,Bike_Sharing_Demand,10,distance,1,r2,0.665481,0.019283
2,3,Brazilian_houses,2,distance,1,r2,0.975452,0.007381
3,6,Brazilian_houses,5,distance,0,r2,0.971976,0.006473
4,334,MiamiHousing2016,7,distance,1,r2,0.899651,0.012005
5,333,MiamiHousing2016,7,distance,0,r2,0.884163,0.007497
6,78,ailerons,10,distance,0,r2,0.743843,0.013467
7,79,ailerons,10,distance,1,r2,0.774966,0.022155
8,389,cpu,2,distance,0,r2,0.936132,0.028991
9,394,cpu,5,distance,1,r2,0.973226,0.010081
10,451,diamond,25,uniform,0,r2,0.941430,0.001745
11,452,diamond,25,uniform,1,r2,0.941954,0.001674
12,143,house_16H,10,distance,1,r2,0.454956,0.058927
13,142,house_16H,10,distance,0,r2,0.457288,0.068413
14,243,house_sales,10,distance,1,r2,0.859526,0.009807
15,246,house_sales,25,distance,0,r2,0.812903,0.010611
16,111,houses,10,distance,1,r2,0.785102,0.012654
17,106,houses,7,distance,0,r2,0.748106,0.009306
18,321,medical_charges,20,uniform,1,r2,0.977547,0.001514
19,320,medical_charges,20,uniform,0,r2,0.977772,0.000667
20,227,nyc-taxi-green-dec-2016,25,distance,1,r2,0.538301,0.031391
21,226,nyc-taxi-green-dec-2016,25,distance,0,r2,0.417625,0.006798
22,461,pol,5,distance,0,r2,0.936670,0.005847
23,462,pol,5,distance,1,r2,0.893830,0.049692
24,262,sulfur,2,distance,0,r2,0.895245,0.056364
25,263,sulfur,2,distance,1,r2,0.892176,0.054239
26,361,superconduct,5,distance,0,r2,0.910603,0.007584
27,362,superconduct,5,distance,1,r2,0.911077,0.007880
28,50,wine,25,distance,0,r2,0.501543,0.038319
29,51,wine,25,distance,1,r2,0.501177,0.038628